@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Updock&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Inter;
}
header {
  max-width: 1060px;
  padding: 10px 40px;
  margin: auto;
}
ul {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
ul li {
  color: aliceblue;
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 15px;
}
.fchild {
  background-color: rgb(226, 65, 65);
  padding: 2px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fit {
  color: rgb(226, 65, 65);
  font-style: italic;
  font-size: 30px;
  font-weight: 800;
  font-family: Inter;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
.content-title {
  max-width: 45%;
}
.title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.title-para {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.button-div {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}
.join-btn,
.calculation button {
  border: none;
  padding: 5px 15px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.btn-down {
  background: none;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.shape {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-size: 65px;
  font-style: normal;
}
.hero-image {
  position: relative;
}

.view-three {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  width: 206px;
  height: 96px;
  left: -100px;
  top: 356px;
}
.red-ball {
  /* position: absolute; */
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.freeWork {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  left: 210px;
  top: 100px;
  text-align: center;
}
.freeWork > h1 {
  margin-bottom: 0;
}
.freeWork p {
  margin-top: 0;
}
.view-para {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0;
}
.freeH {
  margin-bottom: 0;
}
.habit-section {
  max-width: 1044px;
  margin: 115px auto;
  /* margin-bottom: ; */
}
.habit-content {
  text-align: center;
}
.habit-header {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 0;
}
.habit-para {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
.habit-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.habit-img img {
  border-radius: 50%;
}
.habit-img {
  text-align: center;
}
.img-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 0;
}
.img-para {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin-top: 5px;
}
.habit-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
.run-main-section {
  max-width: 1066px;
  margin: 100px auto 0px auto;
}
.run-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 40px 30px;
  gap: 160px;
}
.run-container > h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 38px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.run-container > p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.run-img img {
  width: 266px;
  height: 212px;
  border-radius: 18px;
}
.training-area-section {
  max-width: 1060px;
  margin: 0 auto;
}
.img-collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.big-img {
  grid-column: span 2;
}
.sm-img {
  grid-row: span 1;
}
.img-collage div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .sm-img-p {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0px;
  text-align: left;
} */
.bmi-section {
  max-width: 100%;
  margin: 120px auto;
}
.bmi-title {
  margin: 15px auto 30px auto;
}
.bmi-title > h1,
.team-title h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 38px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.bmi-title p,
.bmi-calculation-title p,
.team-title p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 0;
}
.bmi-chart-calculation {
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.nmi-chart-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bmi-chart > h3,
.bmi-calculation-title > h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.list-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0 8px;
}
.list-item h5 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.list-item p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.all-calculation-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 30px 0px;
}
.all-calculation-items .items {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding-left: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.all-calculation-items input {
  background: none;
  border: none;
  padding: 13px 0;
}
.last-input {
  grid-column: span 2;
}
.team-title {
  text-align: center;
}
.team-section {
  max-width: 1060px;
  margin: 35px auto;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  grid-auto-rows: 350px;
  grid-auto-flow: dense;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}
.team-grid div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.team-item {
  position: relative;
}
.trainer-name {
  position: absolute;
  bottom: 25px;
  left: 30px;
  color: aliceblue;
  font-family: Inter;
}
.trainer-name > h4 {
  margin-bottom: 0;
}
.trainer-name > p {
  margin-top: 5px;
}
